Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2023-07, with the labels that each got.

#107 change ownership
  vcpkg/docfx.json
Labels: do-not-merge, needs-human-review, review-team-triage

#108 Add arm32 to the platform expressions table.
  vcpkg/reference/vcpkg-json.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#78 Rewrite asset caching x-script example
  vcpkg/examples/asset-caching-source-nuget.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#90 Remove keywords 'or' in Platform Expression
  vcpkg/reference/vcpkg-json.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#105 Add guidance for supplying usage files
  vcpkg/TOC.yml
  vcpkg/maintainers/handling-usage-files.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#101 Push main to live (2023.06.29)
  vcpkg/TOC.yml
  vcpkg/docfx.json
  vcpkg/examples/asset-caching-source-nuget.md
  vcpkg/github-integration.md
  vcpkg/maintainers/handling-usage-files.md
  vcpkg/reference/vcpkg-json.md
Labels: do-not-merge, Change sent to author, vcpkg/prod

#110 Simplify description of version to use to get GitHub dependency graph integration
  vcpkg/github-integration.md
Labels: do-not-merge, qualifies-for-auto-merge
