Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2023-03, with the labels that each got.

#33 Migrate Microsoft/vcpkg#27467
  vcpkg/users/config-environment.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#39 Allow embedded port version 0 in version constraint
  vcpkg/reference/vcpkg-json.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#48 Push to live
  vcpkg/TOC.yml
  vcpkg/commands/depend-info.md
  vcpkg/contributing/maintainer-guide.md
  vcpkg/docfx.json
  vcpkg/examples/adding-usage.md
  vcpkg/maintainers/functions/vcpkg_execute_required_process.md
  vcpkg/maintainers/functions/vcpkg_from_git.md
  vcpkg/reference/vcpkg-json.md
  vcpkg/users/config-environment.md
Labels: do-not-merge

#49 Improve triplets.md with better crosslinks
  vcpkg/users/buildsystems/msbuild-integration.md
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge
