Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2023-06, with the labels that each got.

#87 Fix misspellings
  vcpkg/TOC.yml
  vcpkg/contributing/maintainer-guide.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#45 Add docs for x-gha
  vcpkg/users/binarycaching.md
  vcpkg/users/config-environment.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#89 Update depend-info for --format.
  vcpkg/commands/depend-info.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#80 Add guidance for handling usage files
  vcpkg/TOC.yml
  vcpkg/maintainers/handling-usage-files.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#91 update depend-info documentation with mermaid support and format changes
  vcpkg/commands/depend-info.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#86 Initial documentation for GitHub dependency graph integration
  vcpkg/TOC.yml
  vcpkg/github-integration.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#93 Feature/license features
  vcpkg/reference/vcpkg-json.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#94 Updated repo notification recipients .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Labels: do-not-merge, needs-human-review, review-team-triage

#96 Revert "Add guidance for handling usage files"
  vcpkg/TOC.yml
  vcpkg/maintainers/handling-usage-files.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#95 Push main to live (2023.06.26)
  .openpublishing.publish.config.json
  vcpkg/TOC.yml
  vcpkg/commands/depend-info.md
  vcpkg/contributing/maintainer-guide.md
  vcpkg/contributing/vcpkg_catalog_release_process.md
  vcpkg/contributing/vcpkg_tool_release_process.md
  vcpkg/github-integration.md
  vcpkg/reference/vcpkg-json.md
  vcpkg/users/binarycaching.md
  vcpkg/users/config-environment.md
  vcpkg/users/platforms/android.md
Labels: do-not-merge, Change sent to author, vcpkg/prod

#97 Fixing incorrect minimum vcpkg-tool version for the GitHub dependency graph integration
  vcpkg/github-integration.md
Labels: do-not-merge, qualifies-for-auto-merge
