Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2023-11, with the labels that each got.

#206 Fix broken NOTE in `export` command
  vcpkg/commands/export.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#210 Add MSBuild properties for app-local DLL deployment.
  vcpkg/users/buildsystems/msbuild-integration.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#201 Add tutorial to update ports
  vcpkg/TOC.yml
  vcpkg/produce/update-package-version.md
Labels: do-not-merge, needs-human-review

#215 Fixed `env` macro in 'Getting Started' example `CMakePresets.json` file.
  vcpkg/examples/snippets/get-started/CMakePresets.json
Labels: do-not-merge, review-team-triage

#209 Fix env.md error
  vcpkg/commands/env.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#207 Document export compiled dependencies into a different format
  vcpkg/produce/export-compiled-dependencies.md
Labels: do-not-merge, needs-human-review

#220 Document export installation layout
  vcpkg/commands/export.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod
