Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2023-12, with the labels that each got.

#221 Add dependency for vcpkg_cmake_config_fixup
  vcpkg/maintainers/functions/vcpkg_cmake_config_fixup.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#222 Typo fix in cmake-integration.md
  vcpkg/users/buildsystems/cmake-integration.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#224 Getting started with VS Code and vcpkg
  vcpkg/TOC.yml
  vcpkg/get_started/get-started-vscode.md
  vcpkg/resources/get_started/vscode-c-extension.png
  vcpkg/resources/get_started/vscode-cmake-extension.png
  vcpkg/resources/get_started/vscode-command-build-preset.png
  vcpkg/resources/get_started/vscode-command-build.png
  vcpkg/resources/get_started/vscode-terminal-vcpkg.png
Labels: do-not-merge, needs-human-review

#211 Document vcpkg_download_sourceforge and vcpkg_extract_archive.
  vcpkg/TOC.yml
  vcpkg/maintainers/functions/vcpkg_download_distfile.md
  vcpkg/maintainers/functions/vcpkg_download_sourceforge.md
  vcpkg/maintainers/functions/vcpkg_extract_archive.md
  vcpkg/maintainers/functions/vcpkg_from_git.md
  vcpkg/maintainers/functions/vcpkg_from_sourceforge.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#226 fixed minor typo in registries.md
  vcpkg/concepts/registries.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#227 Push main to live (Dec 2023)
  vcpkg/TOC.yml
  vcpkg/commands/export.md
  vcpkg/concepts/registries.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/maintainers/functions/vcpkg_cmake_config_fixup.md
  vcpkg/maintainers/functions/vcpkg_download_distfile.md
  vcpkg/maintainers/functions/vcpkg_download_sourceforge.md
  vcpkg/maintainers/functions/vcpkg_extract_archive.md
  vcpkg/maintainers/functions/vcpkg_from_git.md
  vcpkg/maintainers/functions/vcpkg_from_sourceforge.md
  vcpkg/resources/get_started/vscode-c-extension.png
  vcpkg/resources/get_started/vscode-cmake-extension.png
  vcpkg/resources/get_started/vscode-command-build-preset.png
  vcpkg/resources/get_started/vscode-command-build.png
  vcpkg/resources/get_started/vscode-terminal-vcpkg.png
  vcpkg/users/buildsystems/cmake-integration.md
Labels: do-not-merge, Change sent to author, vcpkg/prod

#216 [WIP] Guide to troubleshoot build failures
  vcpkg/TOC.yml
  vcpkg/troubleshoot/build-failures.md
Labels: do-not-merge, needs-human-review

#228 Document X_VCPKG_NUGET_PREFIX
  vcpkg/users/config-environment.md
Labels: do-not-merge, qualifies-for-auto-merge

#229 Fix typo in get-started-packaging.md
  vcpkg/get_started/get-started-packaging.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#223 Troubleshooting Guide: Versioning
  vcpkg/users/versioning-troubleshooting.md
Labels: do-not-merge, needs-human-review
