Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-06, with the labels that each got.

#325 Add Clion integration section
  vcpkg/concepts/build-system-integration.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#329 Fix link in CI article
  vcpkg/concepts/continuous-integration.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#326 add pacman-based recommended packages
  vcpkg/concepts/supported-hosts.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#330 Binarycaching: Clarify ABI hashing
  vcpkg/reference/binarycaching.md
  vcpkg/users/binarycaching.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#333 Clean up some registries documentation.
  vcpkg/about/faq.md
  vcpkg/commands/create.md
  vcpkg/concepts/overlay-ports.md
  vcpkg/concepts/registries.md
  vcpkg/get_started/overview.md
  vcpkg/readme/vcpkg-README.md
  vcpkg/users/binarycaching-troubleshooting.md
  vcpkg/users/examples/modify-baseline-to-pin-old-boost.md
  vcpkg/users/platforms/android.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#331 Remove repeated deprecation notices about CONTROL files.
  vcpkg/contributing/maintainer-guide.md
  vcpkg/maintainers/registries.md
Labels: do-not-merge, Change sent to author, vcpkg/svc

#334 Added mentions of IDEs/editors that support vcpkg for MSBuild and CMake
  vcpkg/concepts/build-system-integration.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#342 Remove the redundant backquote
  vcpkg/maintainers/functions/vcpkg_configure_make.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#332 Add note about why we require all ports in the curated registry be simultaneously installable.
  vcpkg/concepts/package-name-resolution.md
  vcpkg/contributing/maintainer-guide.md
  vcpkg/reference/vcpkg-configuration-json.md
Labels: do-not-merge, Change sent to author, vcpkg/svc

#335 Fixed example code in triplets.md
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#343 Push main -> live (June 2024)
  vcpkg/about/faq.md
  vcpkg/commands/create.md
  vcpkg/concepts/build-system-integration.md
  vcpkg/concepts/continuous-integration.md
  vcpkg/concepts/overlay-ports.md
  vcpkg/concepts/package-name-resolution.md
  vcpkg/concepts/registries.md
  vcpkg/concepts/supported-hosts.md
  vcpkg/contributing/maintainer-guide.md
  vcpkg/get_started/overview.md
  vcpkg/maintainers/functions/vcpkg_configure_make.md
  vcpkg/maintainers/registries.md
  vcpkg/readme/vcpkg-README.md
  vcpkg/reference/binarycaching.md
  vcpkg/reference/vcpkg-configuration-json.md
  vcpkg/users/binarycaching-troubleshooting.md
  vcpkg/users/binarycaching.md
  vcpkg/users/examples/modify-baseline-to-pin-old-boost.md
  vcpkg/users/platforms/android.md
  vcpkg/users/triplets.md
Labels: do-not-merge

#341 Add FreeBSD and OpenBSD entries
  vcpkg/concepts/supported-hosts.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#345 Misc fixes to supported hosts article
  vcpkg/concepts/supported-hosts.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc
