Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-09, with the labels that each got.

#391 Push to live (Aug 2024)
  vcpkg/TOC.yml
  vcpkg/commands/add-version.md
  vcpkg/commands/add.md
  vcpkg/commands/create.md
  vcpkg/commands/edit.md
  vcpkg/commands/export.md
  vcpkg/commands/new.md
  vcpkg/concepts/continuous-integration.md
  vcpkg/concepts/default-features.md
  vcpkg/concepts/features.md
  vcpkg/concepts/manifest-mode.md
  vcpkg/concepts/overlay-ports.md
  vcpkg/concepts/package-name-resolution.md
  vcpkg/concepts/triplets.md
  vcpkg/contributing/maintainer-guide.md
  vcpkg/examples/patching.md
  vcpkg/get_started/get-started-adding-to-registry.md
  vcpkg/maintainers/functions/vcpkg_apply_patches.md
  vcpkg/maintainers/functions/vcpkg_build_cmake.md
  vcpkg/maintainers/functions/vcpkg_build_msbuild.md
  vcpkg/maintainers/functions/vcpkg_clean_msbuild.md
  vcpkg/maintainers/functions/vcpkg_extract_source_archive_ex.md
  vcpkg/maintainers/functions/vcpkg_fail_port_install.md
  vcpkg/maintainers/functions/vcpkg_fixup_cmake_targets.md
  vcpkg/maintainers/functions/vcpkg_fixup_pkgconfig.md
  vcpkg/maintainers/functions/vcpkg_install_cmake.md
  vcpkg/maintainers/functions/vcpkg_install_gn.md
  vcpkg/maintainers/functions/vcpkg_msbuild_install.md
  vcpkg/produce/update-package-version.md
  vcpkg/reference/vcpkg-json.md
  vcpkg/troubleshoot/build-failures.md
  vcpkg/users/assetcaching.md
  vcpkg/users/buildsystems/cmake-integration.md
  vcpkg/users/config-environment.md
  vcpkg/users/platforms/uwp.md
  vcpkg/users/platforms/windows.md
  vcpkg/users/triplets.md
  vcpkg/users/versioning-troubleshooting.md
Labels: do-not-merge, Change sent to author, vcpkg/svc

#397 Added note about how to permanently set environment variables to asset caching tutorial
  vcpkg/consume/asset-caching.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#392 Hint about modying source reference
  vcpkg/produce/update-package-version.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#393 Add note about custom toolchain files
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#400 Fix #399: Per port customization example contains double expansion
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#403 Add docs clarifying CycloneDX support in vcpkg
  vcpkg/reference/software-bill-of-materials.md
Labels: do-not-merge, qualifies-for-auto-merge

#402 Tutorial: Install native dependencies in a CLR application
  vcpkg/TOC.yml
  vcpkg/consume/cpp-cli.md
  vcpkg/resources/clr-retarget-project.png
  vcpkg/resources/mixedlibrary-properties.png
Labels: do-not-merge, needs-human-review

#404 Fix CMake examples in Get Started tutorials
  vcpkg/examples/snippets/get-started/CMakeLists.txt
  vcpkg/examples/snippets/get-started/CMakePresets.json
  vcpkg/examples/snippets/get-started/CMakeUserPresets.json
  vcpkg/examples/snippets/get-started/helloworld.cpp
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/get_started/get-started.md
  vcpkg/zone-pivot-groups.json
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#409 Fix duplicated titles
  vcpkg/TOC.yml
  vcpkg/get_started/get-started-vscode.md
  vcpkg/reference/binarycaching.md
  vcpkg/users/assetcaching.md
  vcpkg/users/triplets.md
Labels: do-not-merge, needs-human-review

#408 Push to `live` 9/24/2024
  vcpkg/TOC.yml
  vcpkg/consume/asset-caching.md
  vcpkg/consume/cpp-cli.md
  vcpkg/examples/snippets/get-started/CMakeLists.txt
  vcpkg/examples/snippets/get-started/CMakePresets.json
  vcpkg/examples/snippets/get-started/CMakeUserPresets.json
  vcpkg/examples/snippets/get-started/helloworld.cpp
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/get_started/get-started.md
  vcpkg/produce/update-package-version.md
  vcpkg/reference/binarycaching.md
  vcpkg/reference/software-bill-of-materials.md
  vcpkg/resources/clr-retarget-project.png
  vcpkg/resources/mixedlibrary-properties.png
  vcpkg/users/assetcaching.md
  vcpkg/users/triplets.md
  vcpkg/zone-pivot-groups.json
Labels: do-not-merge
