Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-07, with the labels that each got.

#348 [vcpkg_execute_required_process] Document STRIP_TRAILING_WHITESPACE
  vcpkg/maintainers/functions/vcpkg_execute_required_process.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#339 Update supported hosts for June 2024.
  vcpkg/concepts/supported-hosts.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#354 Add missing identifiers
  vcpkg/reference/vcpkg-json.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#353 Fixing a dead link to the legacy examples/manifest-mode-cmake.md
  vcpkg/examples/installing-and-using-packages.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#355 Fix typos in tutorials
  vcpkg/consume/binary-caching-github-packages.md
  vcpkg/consume/binary-caching-nuget.md
Labels: do-not-merge, Change sent to author, vcpkg/svc

#306 Document `VCPKG_USE_HOST_TOOLS`
  vcpkg/users/host-dependencies.md
Labels: do-not-merge, qualifies-for-auto-merge

#357 Rename Cross-compilation to Target platforms
  vcpkg/TOC.yml
  vcpkg/users/platforms/all.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#359 Addressed all known CMake tutorial bugs
  vcpkg/get_started/get-started.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#351 [Reference/vcpkg.json] Add license disclaimer
  vcpkg/reference/vcpkg-json.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#346 Add `VCPKG_FIXUP_MACHO_RPATH`
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#292 Update installation-tree-layout.md - update tools/<port> instructions
  vcpkg/reference/installation-tree-layout.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#363 Fix incorrect capitalization in example.
  vcpkg/consume/binary-caching-nuget.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#369 Clarifying version constraints in port files
  vcpkg/contributing/maintainer-guide.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#368 Add license disclaimer
  vcpkg/maintainers/functions/vcpkg_install_copyright.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#367 vcpkg_replace_string: update docs
  vcpkg/maintainers/functions/vcpkg_replace_string.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#366 Add example for removing variants from a CMake build
  vcpkg/contributing/maintainer-guide.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#362 Miscellaneous fixes
  vcpkg/commands/format-manifest.md
  vcpkg/consume/asset-caching.md
  vcpkg/consume/binary-caching-local.md
  vcpkg/consume/binary-caching-nuget.md
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/get-started-packaging.md
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started.md
  vcpkg/reference/vcpkg-json.md
Labels: do-not-merge, needs-human-review

#356 Android version update & misc fixes; credit to @janisozaur for initial PR
  vcpkg/users/platforms/android.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#361 Main->live (July 2024)
  vcpkg/TOC.yml
  vcpkg/commands/format-manifest.md
  vcpkg/concepts/supported-hosts.md
  vcpkg/consume/asset-caching.md
  vcpkg/consume/binary-caching-github-packages.md
  vcpkg/consume/binary-caching-local.md
  vcpkg/consume/binary-caching-nuget.md
  vcpkg/contributing/maintainer-guide.md
  vcpkg/examples/installing-and-using-packages.md
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/get-started-packaging.md
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started.md
  vcpkg/maintainers/functions/vcpkg_execute_required_process.md
  vcpkg/maintainers/functions/vcpkg_from_gitlab.md
  vcpkg/maintainers/functions/vcpkg_install_copyright.md
  vcpkg/maintainers/functions/vcpkg_replace_string.md
  vcpkg/reference/installation-tree-layout.md
  vcpkg/reference/vcpkg-json.md
  vcpkg/users/host-dependencies.md
  vcpkg/users/platforms/all.md
  vcpkg/users/platforms/android.md
  vcpkg/users/triplets.md
Labels: do-not-merge, Change sent to author, vcpkg/svc

#370 Remove references to external registries
  vcpkg/concepts/manifest-mode.md
  vcpkg/concepts/package-name-resolution.md
  vcpkg/consume/git-registries.md
  vcpkg/maintainers/registries.md
  vcpkg/reference/vcpkg-configuration-json.md
  vcpkg/reference/vcpkg-json.md
Labels: do-not-merge, qualifies-for-auto-merge

#372 Clarify that baseline is optional for filesystem registries.
  vcpkg/reference/vcpkg-configuration-json.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#336 Docs for VCPKG_POST_PORTFILE_INCLUDES
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#358 Updated overview page
  vcpkg/get_started/overview.md
Labels: do-not-merge, needs-human-review

#374 Binary caching article: changed "public registry" to "curated registry" and other minor fixes
  vcpkg/consume/binary-caching-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#360 VS MSBuild tutorials fixes
  vcpkg/get_started/get-started-msbuild.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#373 Added link to classic mode get started tutorial in concept article
  vcpkg/concepts/classic-mode.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc
