Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-01, with the labels that each got.

#235 Fix getting started with VS Code example
  vcpkg/get_started/get-started-vscode.md
Labels: do-not-merge, needs-human-review

#234 Add explanation on versioning conventions
  vcpkg/contributing/maintainer-guide.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#233 Fix `greet` to match tutorial
  my_sample_lib.cpp
  my_sample_lib.h
Labels: do-not-merge, review-team-triage

#232 Patch packaging tutorial
  vcpkg/get_started/get-started-packaging.md
Labels: do-not-merge, Change sent to author, vcpkg/prod

#242 Add concepts: system package managers
  vcpkg/TOC.yml
  vcpkg/concepts/system-package-managers.md
Labels: do-not-merge, needs-human-review

#241 Add Concepts: Supported Hosts
  vcpkg/TOC.yml
  vcpkg/concepts/supported-hosts.md
  vcpkg/concepts/triplets.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#246 Clarify that azurl is Azure Blob Storage in headings.
  vcpkg/consume/asset-caching.md
  vcpkg/users/assetcaching.md
  vcpkg/users/binarycaching.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod

#244 Document software bill of materials JSON generation
  vcpkg/TOC.yml
  vcpkg/reference/software-bill-of-materials.md
Labels: do-not-merge, needs-human-review

#249 Minor bugfixes for Jan 2024 release
  vcpkg/TOC.yml
  vcpkg/concepts/supported-hosts.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#250 Minor bugfixes for Jan 2024 release (#249)
  vcpkg/TOC.yml
  vcpkg/concepts/supported-hosts.md
Labels: do-not-merge, Change sent to author, vcpkg/svc
