Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-08, with the labels that each got.

#375 Push to `live` (7/30/2024)
  vcpkg/concepts/classic-mode.md
  vcpkg/concepts/manifest-mode.md
  vcpkg/concepts/package-name-resolution.md
  vcpkg/consume/binary-caching-overview.md
  vcpkg/consume/git-registries.md
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/overview.md
  vcpkg/maintainers/registries.md
  vcpkg/reference/vcpkg-configuration-json.md
  vcpkg/reference/vcpkg-json.md
  vcpkg/users/triplets.md
Labels: do-not-merge

#371 Maintainer guideline updates
  vcpkg/contributing/maintainer-guide.md
Labels: do-not-merge, qualifies-for-auto-merge

#380 Use and fix deprecation warning boxes
  vcpkg/maintainers/functions/vcpkg_apply_patches.md
  vcpkg/maintainers/functions/vcpkg_build_cmake.md
  vcpkg/maintainers/functions/vcpkg_build_msbuild.md
  vcpkg/maintainers/functions/vcpkg_clean_msbuild.md
  vcpkg/maintainers/functions/vcpkg_extract_source_archive_ex.md
  vcpkg/maintainers/functions/vcpkg_fail_port_install.md
  vcpkg/maintainers/functions/vcpkg_fixup_cmake_targets.md
  vcpkg/maintainers/functions/vcpkg_fixup_pkgconfig.md
  vcpkg/maintainers/functions/vcpkg_install_cmake.md
  vcpkg/maintainers/functions/vcpkg_install_gn.md
  vcpkg/users/buildsystems/cmake-integration.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#379 Fix formatting
  vcpkg/commands/add-version.md
  vcpkg/commands/add.md
  vcpkg/commands/create.md
  vcpkg/commands/edit.md
  vcpkg/commands/export.md
  vcpkg/commands/new.md
  vcpkg/concepts/continuous-integration.md
  vcpkg/concepts/default-features.md
  vcpkg/concepts/features.md
  vcpkg/concepts/manifest-mode.md
  vcpkg/concepts/overlay-ports.md
  vcpkg/concepts/package-name-resolution.md
  vcpkg/get_started/get-started-adding-to-registry.md
  vcpkg/produce/update-package-version.md
  vcpkg/reference/vcpkg-json.md
  vcpkg/users/assetcaching.md
  vcpkg/users/versioning-troubleshooting.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#378 Update TOC.yml
  vcpkg/TOC.yml
Labels: do-not-merge, needs-human-review, review-team-triage

#377 Update vcpkg_msbuild_install.md
  vcpkg/maintainers/functions/vcpkg_msbuild_install.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#278 Document vcpkg-make port.
  vcpkg/TOC.yml
  vcpkg/maintainers/functions/vcpkg_make_configure.md
  vcpkg/maintainers/functions/vcpkg_make_install.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc, unmerged-vcpkg-feature

#77 Added windows and uwp platform topic pages
  vcpkg/examples/patching.md
  vcpkg/users/platforms/uwp.md
  vcpkg/users/platforms/windows.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#387 Revert "Document vcpkg-make port."
  vcpkg/TOC.yml
  vcpkg/maintainers/functions/vcpkg_make_configure.md
  vcpkg/maintainers/functions/vcpkg_make_install.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#385 Added ToC entries and minor tweaks to @walbourn's new Windows articles
  vcpkg/TOC.yml
  vcpkg/users/platforms/uwp.md
  vcpkg/users/platforms/windows.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#384 Clarify triplet docs
  vcpkg/concepts/triplets.md
  vcpkg/troubleshoot/build-failures.md
  vcpkg/users/config-environment.md
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc
