Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-03, with the labels that each got.

#282 Correct docs for overrides now that they accept any version scheme.
  vcpkg/reference/vcpkg-json.md
  vcpkg/users/versioning.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#287 Update lock-package-versions.md - fix typo comfing -> coming
  vcpkg/consume/lock-package-versions.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#286 Modernize README
  vcpkg/commands/integrate.md
  vcpkg/readme/vcpkg-README.md
Labels: do-not-merge, needs-human-review

#289 Update get-started.md
  vcpkg/get_started/get-started.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#288 Update get-started.md
  vcpkg/get_started/get-started.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#291 Update triplets.md - fix link to triplets concept
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#43 add documentation for VCPKG_HASH_ADDITIONAL_FILES
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod, vcpkg/svc, unmerged-vcpkg-feature

#294 Add script link for vcpkg_copy_pdbs.md
  vcpkg/maintainers/functions/vcpkg_copy_pdbs.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#284 Push to live (March 2024)
  .openpublishing.redirection.json
  vcpkg/TOC.yml
  vcpkg/about/faq.md
  vcpkg/commands/common-options.md
  vcpkg/commands/export.md
  vcpkg/commands/install.md
  vcpkg/commands/integrate.md
  vcpkg/commands/remove.md
  vcpkg/commands/update-baseline.md
  vcpkg/commands/update.md
  vcpkg/commands/upgrade.md
  vcpkg/concepts/classic-mode.md
  vcpkg/concepts/default-features.md
  vcpkg/concepts/features.md
  vcpkg/concepts/manifest-mode.md
  vcpkg/concepts/triplets.md
  vcpkg/consume/lock-package-versions.md
  vcpkg/examples/snippets/get-started/CMakePresets.json
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/get_started/get-started.md
  vcpkg/get_started/overview.md
  vcpkg/github-integration.md
  vcpkg/maintainers/control-files.md
  vcpkg/maintainers/functions/vcpkg_copy_pdbs.md
  vcpkg/maintainers/handling-usage-files.md
  vcpkg/readme/vcpkg-README.md
  vcpkg/reference/installation-tree-layout.md
  vcpkg/reference/software-bill-of-materials.md
  vcpkg/reference/vcpkg-configuration-json.md
  vcpkg/reference/vcpkg-json.md
  vcpkg/users/binarycaching-troubleshooting.md
  vcpkg/users/binarycaching.md
  vcpkg/users/buildsystems/cmake-integration.md
  vcpkg/users/buildsystems/manual-integration.md
  vcpkg/users/buildsystems/msbuild-integration.md
  vcpkg/users/buildsystems/snippets/cmake-integration/CMakePresets.json
  vcpkg/users/buildsystems/snippets/cmake-integration/CMakeUserPresets.json
  vcpkg/users/classic-mode.md
  vcpkg/users/manifests.md
  vcpkg/users/triplets.md
  vcpkg/users/versioning-troubleshooting.md
  vcpkg/users/versioning.md
Labels: do-not-merge

#297 Update triplets.md - add info about how toolset versions are matched
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#296 Add FetchContent section on build failures troubleshooting article
  vcpkg/troubleshoot/build-failures.md
Labels: do-not-merge, qualifies-for-auto-merge

#300 Fix inaccessible links
  vcpkg/commands/add-version.md
  vcpkg/commands/create.md
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/get_started/get-started.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc
