Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-02, with the labels that each got.

#256 2/02 Publish for metadata update
  vcpkg/index.yml
Labels: do-not-merge, Change sent to author, vcpkg/svc

#254 Migrated to new Learn open source feedback experience
  .github/ISSUE_TEMPLATE/z-learn-feedback-tool.yml
  vcpkg/docfx.json
  vcpkg/resources/vcpkg-mark-primary-36px.svg
Labels: do-not-merge, needs-human-review, review-team-triage

#260 Migrated to new Learn open source feedback experience (#254)
  .github/ISSUE_TEMPLATE/z-learn-feedback-tool.yml
  vcpkg/docfx.json
  vcpkg/resources/vcpkg-mark-primary-36px.svg
Labels: do-not-merge, review-team-triage

#253 Produce: Package an ADO dependency
  vcpkg/TOC.yml
  vcpkg/produce/package-ado-dependency.md
  vcpkg/resources/pkg_ado_dep/ado-add-public-key-1.png
  vcpkg/resources/pkg_ado_dep/ado-add-public-key-2.png
  vcpkg/resources/pkg_ado_dep/ado-get-url.png
  vcpkg/resources/pkg_ado_dep/ado-new-private-project.md.png
Labels: do-not-merge, needs-human-review

#263 Fix code snippets for ADO and GHA
  vcpkg/produce/test-registry-ports-ado.md
  vcpkg/produce/test-registry-ports-gha.md
Labels: do-not-merge, qualifies-for-auto-merge

#266 Fix markdown in VS Code tutorial
  vcpkg/get_started/get-started-vscode.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#265 Correct environment variable to pass additional `make` options
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge

#262 Document missing temporary file locations
  vcpkg/about/faq.md
  vcpkg/commands/install.md
Labels: do-not-merge, qualifies-for-auto-merge

#267 Update version and SHA of sample library.
  vcpkg/get_started/get-started-packaging.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#270 Update the acceptable VCPKG_TARGET_ARCHITECTURE values.
  vcpkg/users/triplets.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#272 Fix one instance of GitHub -> Bitbucket
  vcpkg/maintainers/functions/vcpkg_from_bitbucket.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#275 Reordering of words to improve readability
  vcpkg/consume/manifest-mode.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#277 Fix binary-caching-local.md
  vcpkg/consume/binary-caching-local.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/prod, vcpkg/svc

#268 Push to live (2/2024)
  vcpkg/TOC.yml
  vcpkg/about/faq.md
  vcpkg/commands/install.md
  vcpkg/consume/binary-caching-local.md
  vcpkg/consume/manifest-mode.md
  vcpkg/get_started/get-started-packaging.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/maintainers/functions/vcpkg_download_sourceforge.md
  vcpkg/maintainers/functions/vcpkg_from_bitbucket.md
  vcpkg/produce/package-ado-dependency.md
  vcpkg/produce/test-registry-ports-ado.md
  vcpkg/produce/test-registry-ports-gha.md
  vcpkg/resources/pkg_ado_dep/ado-add-public-key-1.png
  vcpkg/resources/pkg_ado_dep/ado-add-public-key-2.png
  vcpkg/resources/pkg_ado_dep/ado-get-url.png
  vcpkg/resources/pkg_ado_dep/ado-new-private-project.md.png
  vcpkg/troubleshoot/asset-caching.md
  vcpkg/users/assetcaching.md
  vcpkg/users/triplets.md
Labels: do-not-merge, Change sent to author, vcpkg/svc

#264 Unify manifest mode articles and fix links
  .openpublishing.redirection.json
  vcpkg/TOC.yml
  vcpkg/about/faq.md
  vcpkg/commands/common-options.md
  vcpkg/commands/export.md
  vcpkg/commands/install.md
  vcpkg/commands/remove.md
  vcpkg/commands/update-baseline.md
  vcpkg/commands/update.md
  vcpkg/commands/upgrade.md
  vcpkg/concepts/classic-mode.md
  vcpkg/concepts/manifest-mode.md
  vcpkg/concepts/triplets.md
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/get_started/get-started.md
  vcpkg/get_started/overview.md
  vcpkg/github-integration.md
  vcpkg/maintainers/control-files.md
  vcpkg/maintainers/handling-usage-files.md
  vcpkg/reference/installation-tree-layout.md
  vcpkg/reference/software-bill-of-materials.md
  vcpkg/reference/vcpkg-configuration-json.md
  vcpkg/reference/vcpkg-json.md
  vcpkg/users/binarycaching-troubleshooting.md
  vcpkg/users/binarycaching.md
  vcpkg/users/buildsystems/cmake-integration.md
  vcpkg/users/buildsystems/manual-integration.md
  vcpkg/users/buildsystems/msbuild-integration.md
  vcpkg/users/classic-mode.md
  vcpkg/users/manifests.md
  vcpkg/users/versioning-troubleshooting.md
  vcpkg/users/versioning.md
Labels: do-not-merge, needs-human-review

#178 README for vcpkg repo
  vcpkg/readme/vcpkg-README.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/prod

#281 Change `CMakePresets.json` sample files to use schema version 1
  vcpkg/examples/snippets/get-started/CMakePresets.json
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/users/buildsystems/snippets/cmake-integration/CMakePresets.json
  vcpkg/users/buildsystems/snippets/cmake-integration/CMakeUserPresets.json
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc
