Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-10, with the labels that each got.

#412 fix nuget command for `setapikey`
  vcpkg/consume/binary-caching-nuget.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#405 Update github example
  vcpkg/examples/packaging-github-repos.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#415 Update supported hosts due to macOS update.
  vcpkg/concepts/supported-hosts.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#410 Clarify 'default features should not enable APIs'
  vcpkg/contributing/maintainer-guide.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#381 Fix and improve docs for maintainer functions
  vcpkg/maintainers/functions/vcpkg_acquire_msys.md
  vcpkg/maintainers/functions/vcpkg_add_to_path.md
  vcpkg/maintainers/functions/vcpkg_backup_env_variables.md
  vcpkg/maintainers/functions/vcpkg_build_make.md
  vcpkg/maintainers/functions/vcpkg_build_nmake.md
  vcpkg/maintainers/functions/vcpkg_build_qmake.md
  vcpkg/maintainers/functions/vcpkg_clean_executables_in_bin.md
  vcpkg/maintainers/functions/vcpkg_clean_msbuild.md
  vcpkg/maintainers/functions/vcpkg_cmake_config_fixup.md
  vcpkg/maintainers/functions/vcpkg_cmake_configure.md
  vcpkg/maintainers/functions/vcpkg_cmake_install.md
  vcpkg/maintainers/functions/vcpkg_configure_cmake.md
  vcpkg/maintainers/functions/vcpkg_configure_qmake.md
  vcpkg/maintainers/functions/vcpkg_copy_tool_dependencies.md
  vcpkg/maintainers/functions/vcpkg_download_distfile.md
  vcpkg/maintainers/functions/vcpkg_execute_build_process.md
  vcpkg/maintainers/functions/vcpkg_execute_required_process.md
  vcpkg/maintainers/functions/vcpkg_extract_source_archive_ex.md
  vcpkg/maintainers/functions/vcpkg_fail_port_install.md
  vcpkg/maintainers/functions/vcpkg_find_acquire_program.md
  vcpkg/maintainers/functions/vcpkg_fixup_cmake_targets.md
  vcpkg/maintainers/functions/vcpkg_from_gitlab.md
  vcpkg/maintainers/functions/vcpkg_install_cmake.md
  vcpkg/maintainers/functions/vcpkg_install_qmake.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#414 Adds docs for universal packages
  vcpkg/reference/binarycaching.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#419 Push to live (Oct 2024)
  vcpkg/concepts/supported-hosts.md
  vcpkg/consume/binary-caching-nuget.md
  vcpkg/contributing/maintainer-guide.md
  vcpkg/examples/packaging-github-repos.md
  vcpkg/maintainers/functions/vcpkg_acquire_msys.md
  vcpkg/maintainers/functions/vcpkg_add_to_path.md
  vcpkg/maintainers/functions/vcpkg_backup_env_variables.md
  vcpkg/maintainers/functions/vcpkg_build_make.md
  vcpkg/maintainers/functions/vcpkg_build_nmake.md
  vcpkg/maintainers/functions/vcpkg_build_qmake.md
  vcpkg/maintainers/functions/vcpkg_clean_executables_in_bin.md
  vcpkg/maintainers/functions/vcpkg_clean_msbuild.md
  vcpkg/maintainers/functions/vcpkg_cmake_config_fixup.md
  vcpkg/maintainers/functions/vcpkg_cmake_configure.md
  vcpkg/maintainers/functions/vcpkg_cmake_install.md
  vcpkg/maintainers/functions/vcpkg_configure_cmake.md
  vcpkg/maintainers/functions/vcpkg_configure_qmake.md
  vcpkg/maintainers/functions/vcpkg_copy_tool_dependencies.md
  vcpkg/maintainers/functions/vcpkg_download_distfile.md
  vcpkg/maintainers/functions/vcpkg_execute_build_process.md
  vcpkg/maintainers/functions/vcpkg_execute_required_process.md
  vcpkg/maintainers/functions/vcpkg_extract_source_archive_ex.md
  vcpkg/maintainers/functions/vcpkg_fail_port_install.md
  vcpkg/maintainers/functions/vcpkg_find_acquire_program.md
  vcpkg/maintainers/functions/vcpkg_fixup_cmake_targets.md
  vcpkg/maintainers/functions/vcpkg_from_gitlab.md
  vcpkg/maintainers/functions/vcpkg_install_cmake.md
  vcpkg/maintainers/functions/vcpkg_install_qmake.md
  vcpkg/reference/binarycaching.md
Labels: do-not-merge, Change sent to author, vcpkg/svc
