Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-05, with the labels that each got.

#317 Binary caching for development
  vcpkg/TOC.yml
  vcpkg/consume/binary-caching-default.md
  vcpkg/consume/binary-caching-github-actions-cache.md
  vcpkg/consume/binary-caching-github-packages.md
  vcpkg/consume/binary-caching-local.md
  vcpkg/consume/binary-caching-nuget.md
  vcpkg/consume/binary-caching-overview.md
  vcpkg/produce/test-registry-ports-ado.md
  vcpkg/produce/test-registry-ports-gha.md
  vcpkg/reference/binarycaching.md
  vcpkg/reference/software-bill-of-materials.md
  vcpkg/users/assetcaching.md
  vcpkg/users/binarycaching-troubleshooting.md
  vcpkg/users/binarycaching.md
  vcpkg/users/buildsystems/cmake-integration.md
  vcpkg/users/config-environment.md
  vcpkg/users/triplets.md
Labels: do-not-merge, needs-human-review

#319 Add documentation for all port policies.
  vcpkg/TOC.yml
  vcpkg/reference/policies.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#321 Add notes about vcpkg in CI systems
  vcpkg/TOC.yml
  vcpkg/concepts/continuous-integration.md
Labels: do-not-merge, needs-human-review

#324 Push to live (May 2024)
  vcpkg/TOC.yml
  vcpkg/concepts/continuous-integration.md
  vcpkg/consume/binary-caching-default.md
  vcpkg/consume/binary-caching-github-actions-cache.md
  vcpkg/consume/binary-caching-github-packages.md
  vcpkg/consume/binary-caching-local.md
  vcpkg/consume/binary-caching-nuget.md
  vcpkg/consume/binary-caching-overview.md
  vcpkg/produce/test-registry-ports-ado.md
  vcpkg/produce/test-registry-ports-gha.md
  vcpkg/reference/binarycaching.md
  vcpkg/reference/policies.md
  vcpkg/reference/software-bill-of-materials.md
  vcpkg/users/assetcaching.md
  vcpkg/users/binarycaching-troubleshooting.md
  vcpkg/users/binarycaching.md
  vcpkg/users/buildsystems/cmake-integration.md
  vcpkg/users/config-environment.md
  vcpkg/users/triplets.md
Labels: do-not-merge, Change sent to author, vcpkg/svc
