Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2024-04, with the labels that each got.

#301 Fix spelling in binarycaching.md
  vcpkg/users/binarycaching.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#290 Add terms to glossary
  vcpkg/TOC.yml
  vcpkg/concepts/glossary.md
  vcpkg/concepts/system-package-managers.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#304 docs(get-started): fix simple filename mismatch
  vcpkg/examples/snippets/get-started/CMakeLists.txt
Labels: do-not-merge, needs-human-review, review-team-triage

#295 Add example helper port
  vcpkg/TOC.yml
  vcpkg/maintainers/authoring-script-ports.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#302 Add note about environment variables being "session-only"
  includes/env-vars-bash.md
  includes/env-vars.md
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/get-started-packaging.md
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/get_started/get-started.md
Labels: do-not-merge, needs-human-review, review-team-triage

#308 Fix typo in "environment"
  vcpkg/consume/binary-caching-github-actions-cache.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#299 Update depend-info example for dot
  vcpkg/commands/depend-info.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#307 Add section to troubleshoot MSBuild and CMake integration
  vcpkg/commands/common-options.md
  vcpkg/concepts/default-features.md
  vcpkg/concepts/features.md
  vcpkg/concepts/triplets.md
  vcpkg/troubleshoot/build-failures.md
  vcpkg/users/buildsystems/cmake-integration.md
Labels: do-not-merge, needs-human-review

#305 Improve docs landing page
  vcpkg/index.yml
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#313 Update versions of GitHub actions because of theirs deprecation.
  vcpkg/consume/binary-caching-github-actions-cache.md
  vcpkg/github-integration.md
  vcpkg/produce/test-registry-ports-gha.md
  vcpkg/users/binarycaching.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#310 [4/24] Push to `live`
  includes/env-vars-bash.md
  includes/env-vars.md
  vcpkg/TOC.yml
  vcpkg/commands/add-version.md
  vcpkg/commands/common-options.md
  vcpkg/commands/create.md
  vcpkg/commands/depend-info.md
  vcpkg/concepts/default-features.md
  vcpkg/concepts/features.md
  vcpkg/concepts/glossary.md
  vcpkg/concepts/system-package-managers.md
  vcpkg/concepts/triplets.md
  vcpkg/consume/binary-caching-github-actions-cache.md
  vcpkg/examples/snippets/get-started/CMakeLists.txt
  vcpkg/get_started/get-started-msbuild.md
  vcpkg/get_started/get-started-packaging.md
  vcpkg/get_started/get-started-vs.md
  vcpkg/get_started/get-started-vscode.md
  vcpkg/get_started/get-started.md
  vcpkg/github-integration.md
  vcpkg/index.yml
  vcpkg/maintainers/authoring-script-ports.md
  vcpkg/produce/test-registry-ports-gha.md
  vcpkg/troubleshoot/build-failures.md
  vcpkg/users/binarycaching.md
  vcpkg/users/buildsystems/cmake-integration.md
  vcpkg/users/triplets.md
Labels: do-not-merge, review-team-triage
