Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2025-02, with the labels that each got.

#444 Multiple fixes
  vcpkg/concepts/glossary.md
  vcpkg/examples/snippets/get-started/CMakeUserPresets.json
  vcpkg/reference/binarycaching.md
  vcpkg/users/buildsystems/snippets/cmake-integration/CMakePresets.json
  vcpkg/users/buildsystems/snippets/cmake-integration/CMakeUserPresets.json
  vcpkg/users/host-dependencies.md
Labels: do-not-merge, needs-human-review

#445 Push to `live` (2025-02-06)
  .markdownlint.jsonc
  vcpkg/about/faq.md
  vcpkg/commands/add-version.md
  vcpkg/commands/install.md
  vcpkg/concepts/glossary.md
  vcpkg/concepts/manifest-mode.md
  vcpkg/concepts/overlay-ports.md
  vcpkg/concepts/registries.md
  vcpkg/consume/boost-versions.md
  vcpkg/consume/classic-mode.md
  vcpkg/consume/git-registries.md
  vcpkg/consume/lock-package-versions.md
  vcpkg/consume/manifest-mode.md
  vcpkg/contributing/maintainer-guide.md
  vcpkg/examples/snippets/get-started/CMakeUserPresets.json
  vcpkg/get_started/overview.md
  vcpkg/maintainers/functions/vcpkg_check_linkage.md
  vcpkg/maintainers/functions/vcpkg_find_acquire_program.md
  vcpkg/maintainers/registries.md
  vcpkg/reference/binarycaching.md
  vcpkg/reference/vcpkg-configuration-json.md
  vcpkg/users/authentication.md
  vcpkg/users/buildsystems/snippets/cmake-integration/CMakePresets.json
  vcpkg/users/buildsystems/snippets/cmake-integration/CMakeUserPresets.json
  vcpkg/users/config-environment.md
  vcpkg/users/examples/versioning.getting-started.md
  vcpkg/users/host-dependencies.md
  vcpkg/users/versioning-troubleshooting.md
  vcpkg/users/versioning.md
Labels: do-not-merge

#446 Fix 'staticcrt' typo
  vcpkg/maintainers/functions/vcpkg_check_linkage.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#443 Add guideline for lowercase hexadecimal strings
  vcpkg/contributing/maintainer-guide.md
Labels: do-not-merge, qualifies-for-auto-merge

#448 Fix "baseine" typo
  vcpkg/maintainers/registries.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#450 02/20/2025 push to live
  vcpkg/contributing/maintainer-guide.md
  vcpkg/maintainers/functions/vcpkg_check_linkage.md
  vcpkg/maintainers/registries.md
Labels: do-not-merge, Change sent to author, vcpkg/svc
