Repository MicrosoftDocs/vcpkg-docs, pull requests merged in 2025-01, with the labels that each got.

#434 Push to live (Dec 2024)
  vcpkg/TOC.yml
  vcpkg/consume/caching-workload-identity-federation.md
  vcpkg/maintainers/functions/vcpkg_make_configure.md
  vcpkg/maintainers/functions/vcpkg_make_install.md
Labels: do-not-merge, Change sent to author, vcpkg/svc

#438 Note that only one 'override' for a given package name is acceptable.
  vcpkg/users/versioning.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#432 [vcpkg_check_linkage] Clarify ONLY_DYNAMIC_LIBRARY failures and supports expressions.
  vcpkg/maintainers/functions/vcpkg_check_linkage.md
Labels: do-not-merge, needs-human-review, Change sent to author, vcpkg/svc

#427 Clarify baseline versioning
  vcpkg/users/versioning.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#429 Improve registries documentation
  .markdownlint.jsonc
  vcpkg/about/faq.md
  vcpkg/commands/add-version.md
  vcpkg/concepts/manifest-mode.md
  vcpkg/concepts/overlay-ports.md
  vcpkg/concepts/registries.md
  vcpkg/consume/boost-versions.md
  vcpkg/consume/classic-mode.md
  vcpkg/consume/git-registries.md
  vcpkg/consume/lock-package-versions.md
  vcpkg/consume/manifest-mode.md
  vcpkg/contributing/maintainer-guide.md
  vcpkg/get_started/overview.md
  vcpkg/maintainers/registries.md
  vcpkg/reference/vcpkg-configuration-json.md
  vcpkg/users/authentication.md
  vcpkg/users/config-environment.md
  vcpkg/users/examples/versioning.getting-started.md
  vcpkg/users/versioning-troubleshooting.md
Labels: do-not-merge, needs-human-review

#433 Expanding on 'no vendored dependencies'
  vcpkg/contributing/maintainer-guide.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#436 Update authentication.md
  vcpkg/users/authentication.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#441 Delete --x-use-aria2 documentation.
  vcpkg/commands/install.md
  vcpkg/maintainers/functions/vcpkg_find_acquire_program.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, vcpkg/svc

#442 Miscellaneous fixes in registries documentation
  vcpkg/concepts/registries.md
  vcpkg/maintainers/registries.md
  vcpkg/reference/vcpkg-configuration-json.md
Labels: do-not-merge, qualifies-for-auto-merge
